.whole #body-row {
    margin-left:0;
    margin-right:0;
}
.whole #sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.whole .sidebar-expanded {
    width: 230px;
}
.whole .sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
.whole #sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
.whole #sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.whole .sidebar-submenu {
    font-size: 0.9rem;
}
.col {
    background-color: #eff3f7;
}


/* Separators */
.whole .sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.whole .sidebar-separator {
    background-color: #333;
    height: 25px;
}
.whole .logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
.whole #sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
.whole #sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.whole a.bg-dark.list-group-item.list-group-item-action.d-flex.align-items-center {
    width: 60px;
  }
  .whole .bg-light {
      background-color: none;
  }
  .whole .body-margin {
    margin-left: 30px;
}
.whole .form-row>.col, .form-row>[class*=col-] {
    padding-right: 280px;
    padding-left: 125px;
}

.whole .btn btn-primary {
    padding: 10px 25px;
}
.whole nav.navbar.navbar-light.bg-light {
    background-color: var(--white)!important;
}
.whole {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 0%;
    padding-bottom: 0%;
}

/* Switch Yes No
========================== */
.whole .switch-yes-no {
	padding: 0;
	margin: 15px 0 0;
	background: #FFF;
	border-radius: 0;
	background-image: none;
}
.whole .switch-yes-no .switch-label {
	box-shadow: none;
	background: none;
}
.whole .switch-yes-no .switch-label:after, .switch-yes-no .switch-label:before {
	width: 100%;
	height: 70%;
	top: 5px;
	left: 0;
	text-align: center;
	padding-top: 10%;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.whole .switch-ye
s-no .switch-label:after {
	color: #FFFFFF;
	background: #32CD32;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
.whole .switch-yes-no .switch-label:before {
	background: #eceeef;
	backface-visibility: hidden;
}
.whole .switch-yes-no .switch-handle {
	display: none;
}
.whole .switch-yes-no .switch-input:checked ~ .switch-label {
	background: #FFF;
	border-color: #0088cc;
}
.whole .switch-yes-no .switch-input:checked ~ .switch-label:before {
	transform: rotateY(180deg)
}
.whole .switch-yes-no .switch-input:checked ~ .switch-label:after {
	transform: rotateY(0)
}
.whole .form-group {
    color: #333333;
    font-size: 16px;
}

.whole .mb-5 {
    color: #013164;
}
.form-control {
    height: 30px;
}
.col-3.mb-3 {
    margin-right: 40px;
    margin-left: 20px;
}
/* div#body-row {
    background-color: white;
}
.inner {
    background-color:gray;
} */
button.btn.btn-primary {
    width: 88px;
    height: 40px;
}
button.btn.btn-primary.mr-3 {
    color: #333333;
    background: #f6f6f6;
    border-color: #333333;
}
/* .btn-success {
   
    background-color: #fe7915;
    border-color: #fe7915;
} */
/* .btn-secondary {
    background-color: #f6f6f6;
    border-color: #6c757d;

} */
.btn {
    
    line-height: inherit;
}