.whole .form-group {
    color: #333333;
    font-size: 16px;
}
.whole .col-12 {
    color: #013164;
}
.whole .table-bordered {
    color: #013164;
}
.whole .mb-5 {
    color: #013164;
}
.whole .table-bordered td, .table-bordered th {
    border: none;
}