/* @media (min-width: 576px) */
.modal-dialog {
    max-width: 1200px;
    margin: 1.75rem auto;
}
.modal-footer {
    display: block;
}
.btn-outline-secondary {
    color: #fff;
    border-color: #000;
    background-color: #000;
    border-radius: 10px;
}
.btn-outline-secondary:hover {
    color: #fff;
    border-color: #000;
    background-color: #000 !important;
    border-radius: 10px;
}
.textcol {
    color:darkblue;
}
.fonttext{
    font-weight: bold;
}
/* button.close {
    display:block;
} */
.btn-primary {
    color: #fff;
    background-color: #fe7815;
    border-color: #fe7815;
    border-radius: 10px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #fe7815 !important;
    border-color: #fe7815;
}
.body{
    font-size: 22px;
    font-family: palatino;
}