.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }
  img.card-img-bottom {
    width: 1700px;
}
/* ContactUs */
html, 
body{
  color: #000;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
    }
    .contact-form {
        padding: 50px;
        margin: 30px auto;
    }	
    .contact-form h1 {
        font-size: 42px;
        font-family: 'Pacifico', sans-serif;
        margin: 0 0 50px;
        text-align: center;
    }
    .contact-form .form-group {
        margin-bottom: 20px;
    }
    .contact-form .form-control, .contact-form .btn {
        min-height: 38px;
        border-radius: 2px;
    }
	.contact-form .form-control {
		border-color: #e2c705;
	}
	.contact-form .form-control:focus {
		border-color: #d8b012;
		box-shadow: 0 0 8px #dcae10;
	}
    .contact-form .btn-primary {
        min-width: 250px;
        color: #fcda2e;
        background: #000;
        margin-top: 20px;
        border: none;
    }
    .contact-form .btn-primary:hover {
        color: #fff; 
    }
    .contact-form .btn-primary i {
        margin-right: 5px;
    }
    .contact-form label {
        opacity: 0.9;
    }
    .contact-form textarea {
        resize: vertical;
    }
    .bs-example {
    	margin: 20px;
    }
    .bg-dark {
        background-color: #f5f5f5 !important;
    }
/* BOTTOM LINE */
.about {
    background:#fff;
    padding: 2em;
  }
  
  .container {
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }
  
  .about:after { /* this is the border */
    content:"";
    display:block;
    width: 6em;
    max-width:70%;
    border-bottom: 0.3em solid #F3C577;
    margin: 2em auto 0;
  }
  .body {
      font-family: Avenir Heavy;
      
  }
  .navbar-dark .navbar-nav .nav-link {
      color: #333333;
  }

  